body{
	font-family: 'Cinzel', serif;
	background-image : url("Accueil.jpg");
	background-repeat : no-repeat;
	background-attachment : fixed;
	background-size: cover;
}
h1{
color : gray;
font-size : 50px;
}


ul{
	height : 30%;

}

li{
	display : inline;
	margin-right : 2%;
	font-family: 'Raleway', sans-serif;

}

li :hover{

	color :#82B1FF;

}

li :active{

	color :#82B1FF;

}

a{	
	text-decoration : none;
	color : gray;
	
}

a[name=lienp]{
	text-decoration : underline;
}

div[name=lien]{
	display : inline;
	float : left;
	width : 210px;
	height : 250px;
	margin-top : 5%;
	margin-left : 8%;
	background-color : white;
	opacity : 0.7;
}

h3{
	display : inline;
	
}

div[id=texte_intro]{
	padding-top : 5%;
	width : 30%;
	font-family: 'Raleway', sans-serif;
}

