body{
	font-family: 'Cinzel', serif;
	background-image : url("Accueil.jpg");
	background-repeat : no-repeat;
	background-attachment : fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

#titre-page h1{
	font-family: 'Cinzel', serif;
	color : #ffffff;
	font-size : 50px;
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
}

img[src="logo.png"]{
	width: 157px; 
	height: 103px;
}

ul#menu_horizontal{
	height : 30%;
	background-color : black;
}

ul#menu_horizontal li{
	display : inline;
	margin-right : 2%;
	font-family: 'Raleway', sans-serif;

}

ul#menu_horizontal li :hover{
	color :#82B1FF;
}

ul#menu_horizontal li a:active{
	color :#EC407A;
}

ul#menu_horizontal li a{	
	text-decoration : none;
	color : white;
}

#page-accueil{
	padding-top : 5%; 
	justify-content : center;
	display : flex;	
	flex-flow: row wrap;
	justify-content: space-around;
}
.box-presentation{
	display : inline;
	width : 210px;
	height : 250px;
	margin-top : 10px;
	margin-left : 1px;
	margin-right : 5px;
	background-color : white;
	opacity : 0.7;
}

a[name=lien]{
	text-decoration : underline;
	color : grey;
}

div[id=texte_intro]{
	padding-top : 5%;
	width : 80%;
	font-family: 'Raleway', sans-serif;
	color : white;
}

.text-footer{
	color: #fff;
	display: inline;
	margin-left: 2%;
	margin-right: 2%;
	
}

footer{
	margin-top: 8%;
	width : 100%;
	background-color:#000;
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
}

#menu_horizontal{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
}



@media all and (max-width: 800px) {
  #menu_horizontal {
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  #menu_horizontal {
    flex-direction:column;
	
  }
  #menu_horizontal li{
	  padding-top: 10px;
	  padding-bottom: 5px;
  }
}

