/** CSS GLOBAL **/
body{
	font-family: 'Cinzel', serif;
	background-image : url("Fond.jpg");
	background-repeat : no-repeat;
	background-attachment : fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

#titre-page h1{
	color : black;
	font-size : 50px;
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
}

ul{
	height : 30%;
}

li{
	display : inline;
	margin-right : 2%;
}

li :hover{
	color :#82B1FF;
}

li :active{
	color :#82B1FF;
}

a{	
	text-decoration : none;
	color : gray;	
}

img[src="logo.png"]{
	width: 157px; 
	height: 103px;
}


ul#menu_horizontal li{
	display : inline;
	font-family: 'Raleway', sans-serif;

}

ul#menu_horizontal li :hover{
	color :#82B1FF;
}

ul#menu_horizontal li a:active{
	color :#EC407A;
}

ul#menu_horizontal li a{	
	text-decoration : none;
	color : white;
}
#menu_horizontal{
	background-color : black;
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 25%;
}
/** CSS BIBLIOTHEQUE **/
.bibliotheque{
	background-color : white;
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 25%;
}


.bibliotheque h1{
	text-align:center;
	font-family: 'Cinzel', serif;
}


.popup {
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  color: white;
  text-align: center;
}

.popup img{
	width: 100%;
	height:100%;
	padding-top: 10%;
}
.popup h2 {
  margin-top: 0;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #FFFFFF;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

/** CSS RESPONSIVE **/
@media all and (max-width: 800px) {
  #menu_horizontal {
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  #menu_horizontal {
    flex-direction:column;
	
  }
  #menu_horizontal li{
	  padding-top: 10px;
	  padding-bottom: 5px;
  }


 #menu_regions{
	background-color: black;
	height:100px;
}
}
a[name=btn]{
	width:100px;
	height:100px;
	background:black;
	font:bold 13px Cinzel;
	border-radius:50%;
	color:#ffffff;
}
div[name=selec]{
	background-color : black;
	height:200px;
}
.box-régions{
	background-color: white;
	height: 40%;
  text-align: center;
  padding-top: 0.7%;
  padding-bottom: 2%;
  margin-top: 10%;
  margin-bottom:10%;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}


.column img {
    margin-top: 12px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        width: 70%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 80%;
   }
}